.profile-container {
    background-color: #38cbff;
    width: 100%;
    height: 100vh;
    padding: 60px 0;

    .space-between {
        display: flex;
        justify-content: space-between;
    }

    .container-profile{
        width: 90%;
        margin: auto;
        height: 100%;
        background-color: #fff;
        border-radius: 25px;

        .profile-content{
            padding: 30px;
            height: 100%;

            h1,h2,h3,h4,h5,h6{
                margin: 0 !important;
                vertical-align: middle;
            }

            .icons{
                width: 40px;
            }
            .row{
                margin: 5px;

                .profile-name {
                    height: 50px;
                    color: rgb(50, 50, 92);
                    background-color: #fff !important;
                    padding-top: 2%;
                    
                }

                .profile-items {
                    height: 40px;
                    padding-top: 1.5%;
                    border-radius: 5px;
                    margin-left: 30% !important;
                    border-bottom: #ccc 1px solid !important;
                    background-color: #fff !important;
                
                    span {
                        margin-left: 10px;
                    }
                }
                .profile-edit-name {
                    height: 40px;
                    padding-top: 1.5%;
                    border-radius: 20px;
                   
                    span {
                        margin-left: 10px;
                    }
                   
                }
                .profile-input-picture {
                    height: 200px;
                    border-radius: 50px;
                    position: relative;

                    .camera-icon {
                        width: 50px;
                        position: absolute;
                        bottom: 3px;
                        right: 3px;
                        height: 50px;
                        background-color: rgb(231, 227, 227);
                        border: white 1px solid;
                        border-radius: 50%;
                        i {
                            transform: translateY(45%);
                        }
                    }
                }

                .col {
                    margin: 5px;
                    background-color: #ccc;
                }
            }

            .profile-icons{
                width: 70%;
                margin: auto;
                display: flex;
                margin-top: 20px;
                border: none;
                

                button {
                    margin: 10%;
                    outline: none;
                }
            }         
        }
    }
}
