$primary-color: #38cbff;
$secondary-color: #32325c;
$pink: #fc49a2;

.f-container {
  background-color: $secondary-color !important;
  width: 100%;
  height: 100vh;

  .friend-container {
    background-color: inherit;
    padding: 10px;
    h1,
    h2,
    h3,
    h4,
    h5,
    span,
    p {
      margin: 0 !important;
      padding: 0;
      color: $secondary-color !important;
    }
    .container-friend {
      width: 80%;
      margin: 10px 0;
      margin: auto;
      height: 99vh;
      background-color: #fff;
      border-radius: 15px;
      padding: 20px;
      padding-top: 50px !important;

      .btn-small {
        margin-top: 10px !important;
        background-color: $pink;
        font-weight: bolder;
        margin-left: 20%;
        border-radius: 15px;
        border: none;
      }

      .collection {
        i {
          color: $pink;
        }
      }

      nav {
        &.container {
          margin-bottom: 20px;
          border-radius: 15px !important;
          form {
            background-color: rgb(196, 194, 194);
            border-radius: 15px !important;
            .input-field {
              border-radius: 15px !important;
              input {
                border-radius: 15px !important;
                background-color: rgb(196, 194, 194);
              }
            }
          }
        }
      }
    }
  }
}
